
<h2>Danh sách sản phẩm</h2>
<a href="/products/new">+ Thêm mới</a>
<ul>
  <% products.forEach(p => { %>
    <li>
      <%= p.name %> - <%= p.price %> - <%= p.quantity %> (NCC: <%= p.supplier?.name %>)
      <a href="/products/<%= p._id %>/edit">Sửa</a>
      <form action="/products/<%= p._id %>?_method=DELETE" method="POST" style="display:inline">
        <button>Xóa</button>
      </form>
    </li>
  <% }) %>
</ul>
